#home{
    // padding-top: 42px;
    // padding-bottom: 51px;
    // overflow-y: auto;
    // overflow-x: hidden;
    height: 100%;
    .pb {
        padding-bottom: .12rem;
    }
    .pt {
        padding-top: .12rem;
    }
    .first-screen-top {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 42px;
        padding: 5px 10px 5px 70px;
        background: linear-gradient(90deg,#36db84,#0eb27b);
        .first-screen-search {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            padding: 0 15px 0 30px;
            border-radius: 15px;
            background: hsla(0,0%,100%,.2);
            .btn{
                position: absolute;
                top: 2px;
                left: 5px;
                width: 26px;
                height: 26px;
                background: url(../../assets/search.png) no-repeat;
                background-size: 100% 100%;
            }
        }
        .first-screen-adress {
            position: absolute;
            top: 10px;
            left: 0;
            width: 70px;
            height: 20px;
            line-height: 25px;
            text-align: center;
            font-size: 14px;
            color: #f0edef;
            .arrow{
                display: inline-block;
                width: 8px;
                height: 4px;
                margin: 0 0 0 5px;
                vertical-align: 3px;
                background: url(../../assets/arrow.png) no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    .first-screen-banner{
        position: relative;
        .swiper-container{
            width: 100%;
            height: 240px;
        }
        .swiper-slide{
            background: #d6d6d7 url(../../assets/placeholder_140x140.png) no-repeat 50%;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .first-screen-ad {
        background: #d6d6d7 url(../../assets/placeholder_140x140.png) no-repeat 50%;
        img{
            display: block;
            width: 100%;
            height: 126px;
        }
    }
    .first-screen-menu{
        background-image: url(../../assets/nav_bg.jpg);
        padding: 12px 7px 0;
        background-size: 100% 100%;
        .one{
            float: left;
            width: 25%;
            padding: 0 0 16px;
            text-align: center;
            font-size: 12px;
            color: #333;
            i{
                display: block;
                width: 100px;
                height: 55px;
                text-align: center;
                background-repeat: no-repeat;
                background-position: 50%;
                img{
                    display: inline-block;
                    width: 53px;
                    height: 53px;
                }
            }
            p{
                color: rgb(51, 51, 51);
            }
        }
    }
    .first-screen-news {
        position: relative;
        font-size: 12px;
        box-sizing: border-box;
        height: 1.1rem;
        padding: .22rem .32rem .22rem 3.35rem;
        background: #fff;
        .swiper-container{
            width: 100%;
            height: 20px;
            .swiper-slide{
                line-height: 22px;
                color: rgb(51, 51, 51);
                height: 22px;
            }
        }
        .title{
            position: absolute;
            top: 12px;
            left: 15px;
            width: 75px;
            height: 15px;
            background: url(//img06.yiguoimg.com/e/web/161222/018522/134216/news.png) no-repeat;
            background-size: 100% 100%;
        }
    }
    .one-image{
        .link-img {
            display: inline-block;
            background: #d6d6d7 url(../../assets/placeholder_140x140.png) no-repeat 50%;
            width: 100%;
            height: 4.5rem;
            img{
                width: 100%;
                height: 4.5rem;
            }
        }
    }
    .two-image{
        width: 100%;
        height: 100%;
        .link-img1 {
            display: inline-block;
            float: left;
            box-sizing: border-box;
            width: 50%;
            height: 4.58rem;
            a{
                width: 100%;
                height: 4.58rem;
                display: block;
                background: #d6d6d7 url(../../assets/placeholder_140x140.png) no-repeat 50%;
                img {
                    width: 100%;
                    height: 4.58rem;
                }
            }
        }
    }
    .group-floor {
        width: 100%;
        .floor-img{
            width: 100%;
            height: 7.2rem;
            display: inline-block;
            background: #d6d6d7 url(//img02.yiguo.com/e/web/150930/00982/163525/placeholder_140x140.png) no-repeat 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .product-list {
            overflow: hidden;
            width: 100%;
            height: 6.1rem;
            background: #fff;
            .product-list-in {
                overflow-x: scroll;
                overflow-y: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 7rem;
                padding: .32rem 0 .58rem .32rem;
                white-space: nowrap;
                .proitem {
                    display: inline-block;
                    .pic {
                        position: relative;
                        img {
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                    }
                    .info {
                        box-sizing: border-box;
                        width: 3.5rem;
                        padding: .2rem .2rem 0;
                        text-align: center;
                        .name {
                            font-size: .36rem;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            a {
                                color: #333;
                            }
                        }
                        .saletip {
                            height: .5rem;
                            padding: .22rem 0 0;
                            span {
                                display: inline-block;
                                height: .46rem;
                                line-height: .5rem;
                                margin-right: .1rem;
                                padding: 0 .2rem;
                                color: #45b575;
                                border: 1px solid #45b575;
                                border-radius: 1em;
                            }
                        }
                        .price {
                            margin-top: .22rem;
                            font-size: 11px;
                            color: #8d8a8a;
                            strong {
                                margin-right: .1rem;
                                font-size: .36rem;
                                font-weight: bold;
                                color: #fb3d3d;
                                font-size: .36rem;
                            }
                        }
                    }
                }
                .more {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 1.32rem;
                    height: 4.88rem;
                    .hot {
                        position: absolute;
                        top: 50%;
                        right: .32rem;
                        width: .4rem;
                        margin-top: -1.2rem;
                        white-space: normal;
                        font-size: .36rem;
                        color: #8d8a8a;
                        i {
                            display: inline-block;
                            width: .43rem;
                            height: .43rem;
                            margin-top: .12rem;
                            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAYAAADhXXHAAAAABGdBT…2ErXqH7dPmXAqGzQOvshGrtdGLTxjLCFnJMcJoD1GEE8Z/AbWUqQa1uD13AAAAAElFTkSuQmCC) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                }
            }
        }
    }
    .prolist {
        .proitem {
            position: relative;
            height: 4.46rem;
            padding: .32rem;
            .pic {
                float: left;
                width: 4.5rem;
                height: 4.5rem;
                margin-right: .48rem;
                position: relative;
                a {
                    img {
                        height: 4.5rem;
                        width: 100%;
                    }
                }
            }
            .info {
                height: 3.3rem;
                margin: .6rem 0;
                position: relative;
                .name {
                    margin: 0 0 .24rem;
                    a {
                        font-size: .54rem;
                        color: #000;
                    }
                }
                .sub {
                    margin: 0 0 .3rem;
                    color: #8d8a8a;
                }
                .saletip {
                    height: .6rem;
                    span {
                        height: .6rem;
                        line-height: .6rem;
                        padding: 0 .27rem;
                        font-size: .42rem;
                        display: inline-block;
                        margin-right: .1rem;
                        color: #45b575;
                        border: 1px solid #45b575;
                        border-radius: 1em;
                    }
                }
                .price {
                    position: absolute;
                    bottom: 0;
                    left: 4.98rem;
                    font-size: 11px;
                    color: #8d8a8a;
                    strong {
                        font-size: .6rem;
                        margin-right: .1rem;
                        font-weight: bold;
                        color: #fb3d3d;
                    }
                }
            }
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                content: "";
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                background: #f4f4f4;
            }
        }
        .blockwrap {
            box-sizing: border-box;
            background: #fff;
            &:after {
                display: block;
                clear: both;
                height: 0;
                content: " ";
            }
        }
    }
}